@page "/flights/details"
@using Microsoft.EntityFrameworkCore
@using TravelPlanning.Domain
@inject IDbContextFactory<TravelPlanning.Data.TravelPlanningContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Flight</h2>
    <hr />
    @if (flight is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">TripId</dt>
            <dd class="col-sm-10">@flight.TripId</dd>
            <dt class="col-sm-2">AirlineName</dt>
            <dd class="col-sm-10">@flight.AirlineName</dd>
            <dt class="col-sm-2">DepartureDate</dt>
            <dd class="col-sm-10">@flight.DepartureDate</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@flight.DateCreated</dd>
            <dt class="col-sm-2">DataUpdated</dt>
            <dd class="col-sm-10">@flight.DataUpdated</dd>
        </dl>
        <div>
            <a href="@($"/flights/edit?id={flight.Id}")">Edit</a> |
            <a href="@($"/flights")">Back to List</a>
        </div>
    }
</div>

@code {
    private Flight? flight;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        flight = await context.Flight.FirstOrDefaultAsync(m => m.Id == Id);

        if (flight is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
