@page "/flights/details/{id:int}/{TripId:int}"
@using Microsoft.EntityFrameworkCore
@using TravelPlanning.Domain
@inject IDbContextFactory<TravelPlanning.Data.TravelPlanningContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<div>
    
    @if (flight is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <h2> Flight Details</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">TripId</dt>
            <dd class="col-sm-10">@flight.TripId</dd>
            <dt class="col-sm-2">AirlineName</dt>
            <dd class="col-sm-10">@flight.AirlineName</dd>
            <dt class="col-sm-2">DepartureDate</dt>
            <dd class="col-sm-10">@flight.DepartureDate</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@flight.DateCreated</dd>
            <dt class="col-sm-2">DataUpdated</dt>
            <dd class="col-sm-10">@flight.DataUpdated</dd>
        </dl>
        <div>
            <a href="/flights/edit/@flight.Id/@TripId" class="btn btn-primary">Edit</a> |
            <a href="/flights/@TripId" class="btn btn-secondary">Cancel</a>
        </div>
    }
</div>

@code {
    private Flight? flight;

    [Parameter]
    public int id { get; set; }

    [Parameter]
    public int TripId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        flight = await context.Flight.FirstOrDefaultAsync(m => m.Id == id && m.TripId == TripId);

        if (flight is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
