@page "/itineraryplans/delete"
@using Microsoft.EntityFrameworkCore
@using TravelPlanning.Domain
@inject IDbContextFactory<TravelPlanning.Data.TravelPlanningContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>ItineraryPlan</h2>
    <hr />
    @if (itineraryplan is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Activities</dt>
            <dd class="col-sm-10">@itineraryplan.Activities</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Budget</dt>
            <dd class="col-sm-10">@itineraryplan.Budget</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@itineraryplan.UserId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DestinationId</dt>
            <dd class="col-sm-10">@itineraryplan.DestinationId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@itineraryplan.DateCreated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DataUpdated</dt>
            <dd class="col-sm-10">@itineraryplan.DataUpdated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@itineraryplan.CreatedBy</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@itineraryplan.UpdatedBy</dd>
        </dl>
        <EditForm method="post" Model="itineraryplan" OnValidSubmit="DeleteItineraryPlan" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(itineraryplan is null)">Delete</button> |
            <a href="/itineraryplans">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private ItineraryPlan? itineraryplan;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        itineraryplan = await context.ItineraryPlan.FirstOrDefaultAsync(m => m.Id == Id);

        if (itineraryplan is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteItineraryPlan()
    {
        using var context = DbFactory.CreateDbContext();
        context.ItineraryPlan.Remove(itineraryplan!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/itineraryplans");
    }
}
