@page "/itineraryplans/details"
@using Microsoft.EntityFrameworkCore
@using TravelPlanning.Domain
@inject IDbContextFactory<TravelPlanning.Data.TravelPlanningContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>ItineraryPlan</h2>
    <hr />
    @if (itineraryplan is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Activities</dt>
            <dd class="col-sm-10">@itineraryplan.Activities</dd>
            <dt class="col-sm-2">Budget</dt>
            <dd class="col-sm-10">@itineraryplan.Budget</dd>
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@itineraryplan.UserId</dd>
            <dt class="col-sm-2">DestinationId</dt>
            <dd class="col-sm-10">@itineraryplan.DestinationId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@itineraryplan.DateCreated</dd>
            <dt class="col-sm-2">DataUpdated</dt>
            <dd class="col-sm-10">@itineraryplan.DataUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@itineraryplan.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@itineraryplan.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/itineraryplans/edit?id={itineraryplan.Id}")">Edit</a> |
            <a href="@($"/itineraryplans")">Back to List</a>
        </div>
    }
</div>

@code {
    private ItineraryPlan? itineraryplan;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        itineraryplan = await context.ItineraryPlan.FirstOrDefaultAsync(m => m.Id == Id);

        if (itineraryplan is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
