@page "/transportations/details"
@using Microsoft.EntityFrameworkCore
@using TravelPlanning.Domain
@inject IDbContextFactory<TravelPlanning.Data.TravelPlanningContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <hr />
    @if (transportation is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Type</dt>
            <dd class="col-sm-10">@transportation.Type</dd>
            <dt class="col-sm-2">StartLocation</dt>
            <dd class="col-sm-10">@transportation.StartLocation</dd>
            <dt class="col-sm-2">EndLocation</dt>
            <dd class="col-sm-10">@transportation.EndLocation</dd>
            <dt class="col-sm-2">Cost</dt>
            <dd class="col-sm-10">@transportation.Cost</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@transportation.DateCreated</dd>
            <dt class="col-sm-2">DataUpdated</dt>
            <dd class="col-sm-10">@transportation.DataUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@transportation.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@transportation.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/transportations/edit?id={transportation.Id}")">Edit</a> |
            <a href="@($"/transportations")">Back to List</a>
        </div>
    }
</div>

@code {
    private Transportation? transportation;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        transportation = await context.Transportation.FirstOrDefaultAsync(m => m.Id == Id);

        if (transportation is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
